* {
  margin: 0;
  padding: 0;
}

:root {
  --clr_primary: #8BCD2D;
  --clr_accent: #4c4c4c;
  --clr_dark: black;
  --clr_light: white;

  --ff_title: 'Raleway', sans-serif;
  --ff_serif: 'Open Sans', sans-serif;
  /* --ff_title: 'Lato', sans-serif; */
  /* --ff_title: 'Julius Sans One', sans-serif; */
  /* --ff_title: 'Oswald', sans-serif; */
  
  --font_n: 0.99rem;
  --font_s: 0.82rem;
  --font_m: 1.2rem;
  --font_l: 2.4rem;
}

/* => Standardized All Typograghy and Font size*/
html{
  box-sizing: ;
  font-family: var(--ff_serif);
  color: var(--clr_accent);
  font-size: var(--font_n);
  font-weight: ;
}

/* => Standardized All Typograghy and Font size*/
h1 {
  font-family: var(--ff_title);
  font-size: var(--font_l);
  line-height: var(--font_l);
}
h2 {
  font-size: var(--font_m);
}
h3 {
  /* font-family: var(--ff_title); */
  font-size: var(--font_m);
}
p {
  font-size: var(--font_n);
}

/* => Nav Bar and Logo img */
nav {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  min-height: 8vh;
  background: var(--clr_light);

  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.8s;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding: 0 5% 0 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: red;
}
nav ul li a:hover {
  color: blue;
}
.logo {
  padding: 0 0 0 6%;
}

.logo img {
  width: 100px;
  height: auto;
}


/* => Intro 1 */
.intro {
  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  /* padding: 10% 5% 10% 5%; */

  /* In case need to adjust the WHOLE intro down when not enough space */
  /* margin: 0px 0 0 0; */

  /* Just want to see the full height on phone, to toggle off when done */
  /* background: #eeeeee; */

  /* Image position and size adjustment */
  background-image: url("labrador.jpg");
  background-repeat: no-repeat;
  background-position: 10px 115px;
  background-size: 115%;
}  
.intro h3 {
  padding: 10% 5% 0 5%;
}
.intro p {
  padding: 0.5% 57% 0 5%;
  font-size: var(--font_s);
}
.intro h1 {
  padding: 10% 5% 0 5%;
}
.intro h2 {
  padding: 0.5% 5% 0% 5%;
}
/* SPECIAL NOTE: For button gap adjustment (top/bottom/left/right), go to .btn -> Gap adjustment for button  */


/* => Intro 2 */
.intro4 {
  width: 100%;
  height: auto;
  
  /* Just want to see the full height on phone, to toggle off when done */
  /* background: green; */

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */

  /* In case need to adjust the WHOLE intro down when not enough space */
  /* margin: 0px 0 0 0; */

  /* Darken the background color so as to make the words more readable */
  background: #a3a3a3;
  background-blend-mode: multiply;

  /* Image position and size adjustment */
  background-image: url("DFA.jpg");
  background-repeat: no-repeat;
  background-position: -180px 0px;
  /* If got gap under image, can increase the background size  */
  background-size: 193%;
}  
.intro4 h3 {
  padding: 10% 5% 0 5%;
  color: var(--clr_light);
}
.intro4 p {
  padding: 0.5% 57% 0 5%;
  font-size: var(--font_s);
  color: var(--clr_light);
}
.intro4 h1 {
  padding: 10% 5% 0 5%;
  color: var(--clr_light);
}
.intro4 h2 {
  padding: 0.5% 5% 0% 5%;
  color: var(--clr_light);
}
/* SPECIAL NOTE: For button gap adjustment (top/bottom/left/right), go to .btn -> Gap adjustment for button  */


/* Recognition section */
.recognition {
  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */

  /* Just want to see the full height on phone, to toggle off when done */
  /* background: tomato; */
}
.recognition h1 {
  padding: 8% 5% 0 5%;
  /* Font size, family, height to adjust in Typography */
  color: var(--clr_accent);
}
.recognition p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 3% 5% 10% 5%;
  
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_accent);
}


/* Comb divider */
.divider1 {
  /* This margin will remove the unwanted top and bottom line (around 6px) */
  margin: 0 0 -6px 0;

  /* See if this works for mobile */
  width: 100%;
  height: auto;
}
.divider1 img {
  width: 100%;
  height: auto;
  /* In case need to adjust the whole intro down when not enough space */
  /* margin: 0 0 0 0; */
}


/* What do we do section */
.what_we_do {
  /* Just want to see the full height on phone, to toggle off when done */
  /* margin: 100px 0 0 0; */

  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_dark);

  /* Background with gradient color */
  /* background-image: linear-gradient(black, var(--clr_primary), black); */
}
.what_we_do h1 {
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_light);

  /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
  padding: 8% 5% 0 5%;
}
.what_we_do p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 3% 5% 10% 5%;
  
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_light);
}


/* Scissors divider */
.divider2 {
  /* This margin will remove the unwanted top and bottom line (around -10px and -5px) */
  margin: -10px 0 -5px 0;

  /* See if this works for mobile */
  width: 100%;
  height: auto;

  /* Fill the sides of the image to be black as well  */
  background: var(--clr_dark);
}
.divider2 img {
  width: 50%;
  height: auto;
  padding: 0 25%;
  
  /* In case need to adjust the whole intro down when not enough space */
  /* margin: 0 0 0 0; */
}


/* => Footer section  */
.footer {
  width: 100%;
  height: auto;
  background: var(--clr_primary);
  color: var(--clr_light);
  
  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
}
.footer h1 {
  padding: 8% 5% 0 5%;
}

.footer h1 a {
  color: var(--clr_light);
  text-decoration: none;
}
.footer h1 a:hover {
  color: var(--clr_dark);
}
.footer p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 3% 5% 0 5%;
}
.copyright {
  background: var(--clr_primary);
}
.copyright p {
  padding: 0 5% 2% 5%;
  color: var(--clr_light);
  font-size: var(--font_s);
}



/* General button style */
.btn {
  font-size: var(--font_s);
  padding: 0 10px;
  border-radius: 30px;
  line-height: 25px;
  text-align: center;
  border: 1px solid var(--clr_accent);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_accent);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;

/* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
  margin: 2% 5% 10% 5%;

/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_accent);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_accent);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn:hover {
  color: var(--clr_light);
}
.btn:hover:before {
  top: 0;
}